body{
    width: 1200px;
    font-family: 'Cuprum', sans-serif;
    font-family: 'PT Sans', sans-serif;
    margin: center;
}

.headertop {
background-color: #293449;
color: #FFFFFF;
display: flex;
flex-direction: row;
justify-content:center ;
margin: 0;
padding: 0;
}