page-body {
  font-family: 'Cuprum', sans-serif;
  font-family: 'PT Sans', sans-serif;
  min-height: 100%;
}


/* Шапка */
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__top {
  background-color: #293449;
}

.page-header__container {
  max-width: 940px;
  min-height: 42px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-header__img {
  background-image: url(..//img/logo-background.svg);
}

.page-header__menu {
  display: flex;
  color: #fff;
}

.page-header__search {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.page-header__bookmark {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.page-header__basket {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.page-header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.page-header__bottom {
  background-color: #F1F5F7;
  display: flex;
  flex-direction: column;

}

.page-header__contact {
  display: flex;
}

.page-header__cabinet {
  display: flex;
}

.page-header__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #EE3643;
}

.page-header__tel {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #EE3643;
  border: 3px solid #FFFFFF;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 74px;
  padding-right: 45px;
}

.page-header__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #32425C;
  padding-top: 10px;
}

.page-header__registration,
.page-header__signin {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.page-header__registration {
    margin-right: 10px;
}

.page-header__list {
  display: flex;
  justify-content: space-between;
  background-color: #32425C;
  max-width: 940px;
  margin: 0 auto;
}

.page-header__link{
  color: #fff;
  text-decoration: none;
}